<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    body {
      background: #222;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-fill-mode: rgba(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: white;
      padding: 20px 25px;
      border: 5px solid #26a69a;
      width: 750px;
      height: auto;
      box-sizing: border-box;
      position: relative;
    }
    .col.s6 > .btn {
      width: 100%;
    }

    radio:required {
      border-color: red;
    }
    .container {
      animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
    }

    @keyframes showUp {
      0% {
        transform: scale(0);
      }
      100% {
        transoform: scale(1);
      }
    }
    .row {margin-bottom: 10px;}

    .ngl {
      position: absolute;
      top: -20px;
      right: -20px;
    }
    h1 {
      margin: 0;
    }

    .bottomStuff {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
    }

  </style>
</head>
<body>
    <script defer>
        const categories = JSON.parse(`<%-JSON.stringify(categories)%>`);
        const categoriesMap = {}
        categories.forEach(category => {
            categoriesMap[category.name] = null;
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.chips');
            var instances = M.Chips.init(elems,
                {
                    placeholder: 'Enter a category',
                    secondaryPlaceholder: '+ Category',
                    autocompleteOptions: {
                        data: categoriesMap,
                        limit: Infinity,
                        minLength: 1,
                    }
                }
            );

           
        });
    </script>

    <div class="container">
        <div class="row">
  
            <h1>Find Study Buddies</h1>

            <div id="categories" class="chips chips-autocomplete"></div>
            
            <div class="bottomStuff">

                <div class="row" style="margin: 0 20px 0 0;">
                    <form style="padding: 0;" class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="groupSize" min="2" max="5" type="number" value="2" class="validate">
                          <label for="email">Group size</label>
                          <span class="helper-text" data-error="wrong" data-success="right">From 2 to 5 inclusively</span>
                        </div>
                      </div>
                    </form>
                  </div>

                <a style="margin: 0;" onclick="findBuddy()" id="findBuddyButton" class="btn">Find Buddy</a>
                <a style="margin: 0 20px 0 20px;"onclick="stopSearching()" id="stopSearchingButton" class="btn disabled">Stop Searching</a>
                

                <div id="spinner" class="preloader-wrapper small">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/find_buddy.js" defer></script>

</body>
</html>
