<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
</head>
<body>
  <h1>Study Buddies</h1>
  <p>
    Welcome,
    we are a revolutionary platform for bored students who want need a small push from another person to start studying hard.
  </p>
  <a href="/user/login">login</a> <br/>
  <a href="/user/register">register</a>
</body>
</html>