<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>

</head>
<body>
  <h1>Register</h1>

  <form action="/user/register" method="post">
    <label for="username">username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">password:</label><br>
    <input type="password" id="password" name="password"><br><br>


    <input type="submit" value="Submit">
  </form>
  <% if (locals.failed) { %>
    <p> username or email already exists</p>
  <% } %>

</body>
</html>
