<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room Configurations</title>
</head>
<body>
<h1>Room Configurations</h1>
<form action="/room/room_configurations" method="post">
    <label for="roomName">Room Name:</label><br>
    <input type="text" id="roomName" name="roomName"> <br>
</form>
<h1>some default setting forms</h1>
shevtanxmdet mere chemo dzmebo
</body>
</html>