<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body{
            /*background-color: #222222;*/
        }

        /* one item */
        video:first-child:nth-last-child(1) {
            /* -or- li:only-child { */
            width: 100%;
        }

        /* two items */
        video:first-child:nth-last-child(2),
        video:first-child:nth-last-child(2) ~ video {
            width: 50%;
        }

        /* three items */
        video:first-child:nth-last-child(3),
        video:first-child:nth-last-child(3) ~ video {
            width: 33.3333%;
        }

        /* four items */
        video:first-child:nth-last-child(4),
        video:first-child:nth-last-child(4) ~ video {
            width: 50%;
            height: 50%;
        }

        video:first-child:nth-last-child(5),
        video:first-child:nth-last-child(5) ~ video {
            width: 33.33333%;
            height: 50%;
        }
        video:first-child:nth-last-child(6),
        video:first-child:nth-last-child(6) ~ video {
            width: 33.33333%;
            height: 50%;
        }




        .container{
            min-width: 100%;
            min-height: 100%;
        }

        #videos-container {
            /*display: grid;*/
            min-width: 100%;
            height: 100vh;
            max-height: 100vh;
        }

        video {

            background-color: #222222;
            /*width: 50%;*/
            height: 100%;
            object-fit: contain;
        }

        .myvid{
            transform: rotateY(180deg);
            -webkit-transform:rotateY(180deg); /* Safari and Chrome */
            -moz-transform:rotateY(180deg); /* Firefox */
        }

        .butttons{
            position: absolute;

            bottom: 0;
            left: 47%;

            z-index: 10;
        }

        #mute {

        }
        #videostop {
            /*position: absolute;*/
            /*bottom: 0;*/
            /*left: 100px;*/
            /*z-index: 10;*/
        }

    </style>
</head>
<body>
<!--<h1 class="white-text">Room ID is: <%= roomID %> </h1>-->
<div class="container">
    <div id="videos-container"></div>
</div>

<div class="butttons">
    <a id="mute" class="btn-floating btn-large waves-effect waves-light red" onclick="window.triggerAudio()"><i class="material-icons">mic_off</i></a>
    <a id="videostop" class="btn-floating btn-large waves-effect waves-light red"onclick="window.triggerVideo()"><i class="material-icons">videocam_off</i></a>
</div>

<script>
    ROOM_ID = "<%= roomID %>"
</script>

<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>

</body>
</html>